.Button {
    border-radius: 8px;
    background-color: limegreen;
    padding: 10px 10px;
    margin: 5px 20px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    border: none;
    box-shadow: 20px 20px 20px grey;
}

.Button.primary {
    background-color: chartreuse;
}

.Button:hover {
    background-color: rgb(173, 184, 163);
    box-shadow: 15px 15px 15px grey;
}

.Button img{
   max-height: 50px;
   width: 52px;
   size: auto;
}

.Button>* {
    vertical-align: middle;
}
